body {
font-family:"Roboto",sans-serif;
color:#434455;
background-color:#FFFFFF;
}

a{
text-decoration: none;
}

ol,ul{
    list-style: none;
 }

.logo {
font-family:"Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5 ;
}

.logo-part {
    color: #2E2F42;
}

.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.nav-link:hover,
.nav-link:focus {
    color:#404bbf;
}

.address {
font-style: normal;
}
.address-link {
     font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
.hero {
 background-color:#2e2f42;   
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-btn {
    font-family: "Roboto", sans-serif ;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: #4D5AE5;
}

.hero-btn:hover {
background: #404BBF;
}
.hero-btn:focus {
background: #404BBF;
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing : 0.02em;
    color: #2E2F42;
}

.features-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}
.team {
  background-color: #F4F4FD;  
}

.team-title-title {
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em; 
    color: #2E2F42;
     text-align: center;
    text-transform: capitalize;
}

.team-item {
    background-color: #ffffff;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42 ;
}

.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.portfolio-title-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-subtitle {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-item-text {
  font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
}

.footer {
 background: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}


